{% extends "base.html" %}
{% block content %}
<div class="container">
    <ul class="list-group bg-light">
        <li class="list-group-item active text-center">物品信息</li>
        <li class="list-group-item">名称：{{goods.name}}</li>
        <li class="list-group-item">价格: {{"%0.2f"|format(goods.lowest_price)}} 至 {{"%0.2f"|format(goods.highest_price)}}元</li>
        <li class="list-group-item">原价：{{"%0.2f"|format(goods.original_price)}}</li>
        <li class="list-group-item">描述：{{goods.description}}</li>
        <li class="list-group-item">截止日期：{{goods.expired_date}}</li>
    </ul>
    <hr/>
    <div class="row mx-auto">
        <div class="col">
            <img class="rounded d-block mx-auto"  src="{{goods.photo1}}">
            <img class="rounded d-block mx-auto"  src="{{goods.photo1}}">
            <img class="rounded d-block mx-auto"  src="{{goods.photo1}}">
        </div>
        <div class="col">
            <ol class="list-group">
                <li class="list-group-item active bg-success text-center">历史出价</li>
                {% for bid, user in bids %}
                <li class="list-group-item">
                    <span class="text-primary">{{bid.date.strftime('%Y-%m-%d %H:%M:%S')}}</span>
                    <span class="text-mutex">{{"%0.2f"|format(bid.price)}} 元</span>
                    {% if current_user.username=='admin@example.com' %}
                        <span class="text-black">{{user}}</span>
                        <span class="text-black">
                            <a href="/auth/transaction/{{goods.goods_id}}/{{bid.bid_id}}">交易</a>
                        </span>
                    {% endif %}
                </li>
                {% endfor %}
            </ol>
            <div class="mx-auto my-3">
                {% if current_user.is_authenticated %}
                {% from "bootstrap/form.html" import render_form %}
                {{render_form(inline_form, form_type="inline")}}
                {% else %}
                <span>登录后出价</span>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}