{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class="m-2">
        <img class=rounded mx-auto src="{{goods.photo1}}">
        <img class=rounded mx-auto src="{{goods.photo2}}">
        <img class=rounded mx-auto src="{{goods.photo3}}">
    </div>
    <ul class="list-group bg-light">
        <li class="list-group-item">名称：{{goods.name}}</li>
        <li class="list-group-item">价格: {{"%0.2f"|format(goods.lowest_price)}} 至 {{"%0.2f"|format(goods.highest_price)}}元</li>
        <li class="list-group-item">原价：{{"%0.2f"|format(goods.original_price)}}</li>
        <li class="list-group-item">描述：{{goods.description}}</li>
        <li class="list-group-item">截止日期：{{goods.expired_date}}</li>
    </ul>
    <hr/>
    <ol class="list-group" >
        {% for bid in bids %}
        <li class="list-group-item">
            <span class="text-primary">{{bid.date}}</span>
            <span class="text-mutex">{{bid.price}}</span>
        </li>
        {% endfor %}
    </ol>
    <form style=""><div class="form-group"><label>Text</label><input type="text" class="form-control"></div></form></body>
</div>
{% endblock %}